.App {
    font-family: "Roboto Condensed";
    text-align: center;
  }

#edit-img:hover img {
  -webkit-filter: invert(100%);
}
  
.logo {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.contact {
filter: invert(26%) sepia(99%) saturate(7175%) hue-rotate(358deg) brightness(95%) contrast(115%);
}

.carousel-control-next,
.carousel-control-prev {
    filter:invert(100%)
}

.carousel-caption {
  color: rgb(255, 255, 255);
  background: rgba(255, 0, 0, 0.65);
}

.contain {
  object-fit: contain;
  height: 40vh;
}

.carousel-item {
  height: 60vh;
  background-size: cover;
  background-position: center center;
}

.carousel-item h1 {
  margin: 0;
  color: white;
}