.App {
    font-family: "Roboto Condensed";
    text-align: center;
  }

#edit-img:hover img {
  -webkit-filter: invert(100%);
}
  
.logo {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.contact {
filter: invert(26%) sepia(99%) saturate(7175%) hue-rotate(358deg) brightness(95%) contrast(115%);
}

.carousel-control-next,
.carousel-control-prev {
    filter:invert(100%)
}

.carousel-caption {
  color: rgb(255, 255, 255);
  height: 14vh;
  background: linear-gradient(180deg, transparent, rgb(255, 81, 81));
}

.contain {
  object-fit: contain;
  height: 45vh;
}

.carousel-item {
  transition: opacity 1s ease-in-out !important;
  height: 55vh;
  background-size: cover;
  background-position: center center;
}

.prod-img {
  object-fit: contain;
  height: 70vh;
}

.rel-img {
  height: 20vh;
}


.shadowed {
  width: 150px;
  filter: drop-shadow(5px 5px 10px rgb(255, 81, 81));
}

.red-card-header {
  color: white !important;
  background-color: rgb(255, 81, 81) !important;
}